/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}
*, *:after{box-sizing: inherit}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  display: flex;
  flex-direction: column;
  font: normal 16px/1.4 sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0 0.187em;
}
header{
  display: grid;
  justify-items: stretch;
  align-items: end;
  justify-content: space-between;
  align-content: space-between;
  grid-auto-flow: dense;
}
header > section{
  display: inline-grid;
  grid-column-start: span 3;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(100%, 1fr));
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  padding: 1rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#redes-sociais{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}
#redes-sociais > span{
  display: inline-flex;
  flex-direction: row;
  margin: 0 1rem 0 1rem;
}
.section-menu{
  display: inline-grid;
  grid-column-start: span 3;
  grid-gap: 1rem;
  grid-template-columns: repeat(2,1fr);;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  padding: 1rem 0;
}
#logo{
  width: 100%;
}
.section-menu h1{
  font-size: 1.188em;
  font-weight: 500;
  text-align: center;
}
header > section > div > ul:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: baseline;
  list-style: none;
  justify-content: space-between;
  justify-items: baseline;
  margin: 1rem 1rem 1rem 1rem;
}

header > section > div > ul:nth-child(1) > li{
  margin: 0 auto 1rem auto;
}
header > section > div > ul:nth-child(1) > li > a{
  text-decoration: none;
}
header > section > div > ul:nth-child(1) > li > a:hover{
  text-decoration: #222222;
  color: #222222;
  font-weight: 700;
  padding: 0;
}
#login-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}
#login-social div{
  text-align: center;
}
#login-social div i{

}
#login-social div p{
  font-weight: 300;
  font-size: 1em;
}
#dados-grafico-form{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100%, 1fr));
  grid-template-rows: repeat(2, auto);
  grid-gap: 1rem;
}

#banner-ou-dados{
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
#banner-ou-dados > img{
  width: 100%;
  max-width: 100%;
}

#form-ou-grafico{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: #555555 solid 0.1rem;
  border-radius: 0.5rem;
}
#form-ou-grafico h1{
  font-weight: 500;
  margin: 0.2rem auto 0 auto;
}
#login-social{
  display: flex;
  flex-direction: row;
}
#login-social div{
  margin: 0 1rem 0 1rem;
}
#form-ou-grafico form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.mb-3{
  padding: 0.3rem;
  width: 100%;
  max-width: 100%;
}
.form-label{
  font-size: 1em;
  font-stretch: semi-condensed;
  font-weight: 400;
  line-height: 1.722em;
}
.form-control{
  font-weight: 300;
  border: #555555 solid 0.1em;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: auto;
}
#emailHelp{
  display: none;
  font-weight: 400;
  color: brown;
  margin: 0.7rem auto;
  width: 100%;
}
#passHelp{
  display: none;
  font-weight: 400;
  color: brown;
  margin: 0.7rem auto;
  width: 100%;
}
#button-send{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.7rem 0;
  margin: 1rem auto 0 auto;
}
.btn{
  border: none;
  border-radius: 0.3em;
  padding: 1rem;
  font-size: 1.000em;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{
  background-color: cadetblue;
  color: cornsilk;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  header > section{
    display: inline-grid;
    grid-column-start: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: start;
    padding: 1rem;
  }
  header > section > div > ul:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style: none;
    justify-content: space-between;
    justify-items: baseline;
    margin: 0 1rem 0 1rem;
  }
  header > section > div > ul:nth-child(1) > li{
    margin: 0 1rem 1rem 1rem;
  }
  #dados-grafico-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0.5rem;
    padding: 0;
  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

